/* * {
  box-sizing: border-box;
} */
.navbar {
  height: 60px;
  background-color: #1f1d1d;
  width: 100%;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  position: fixed;
}
.right,
.navLink {
  display: flex;
}
.white {
  color: whitesmoke;
}
.navLink p {
  margin-left: 20px;
}
.removeunderline {
  text-decoration: none;
}
.left {
  width: 20%;
  display: flex;
  justify-content: space-around;
}
